<% unless @user.posts.empty? %>
  <div class = "post">
    <%= render partial: "partials/post", locals: { posts: @user.posts, recent: false } %>
  </div>
<% end %>

<div class="grp-buttons">
  <div class="btn-link">
    <button>
      <%= link_to "New Post", new_user_post_path(@user) %>
    </button>
  </div>
  <div class="btn-link">
    <button>Pagination</button>
  </div>
</div>