<div class="post-comments">
  <% if comments.any? %>
    <hr />
    <h4>Comments</h4>
  <% end %>

  <% comments.each do |comment| %>
      <div class="comment">
          <span class="comment-author"><%= comment.author.name %>:</span>
          <span><%= comment.text %></span>

          <% if can? :destroy, comment %>
              <%= link_to user_post_comment_url(author_id: comment.post.author.id, post_id: comment.post.id, id: comment.id), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <button class="short-button">Delete</button>
              <% end %>
          <% end %>
      </div>
  <% end %>
</div>
