<div class="post-comments">
  <% if comments.any? %>
    <hr />
    <h4>Comments</h4>
  <% end %>

  <% comments.each do |comment| %>
      <div class="comment">
          <span class="comment-author"><%= comment.author.name %>:</span>
          <span><%= comment.text %></span>

          <% if can? :destroy, comment %>
              <%= link_to "Delete", user_post_comment_path(comment.post.author, comment.post, comment), data: { "turbo-method": :delete }, class: 'short-button' %>
          <% end %>
      </div>
  <% end %>
</div>
