<div class = "post">
  <%= render partial: "partials/post", locals: { posts: @user.recent_posts, recent: true } %>
</div>

<div class="grp-buttons">
  <%= link_to user_posts_url(@user.id), class: 'btn-link' do %>
    <% if @user.posts_counter > @user.recent_posts.length %>
      <button> See All Posts </button>
    <% else %>
      <button> Posts Detail </button>
    <% end %>
  <% end %>

  <div class="btn-link">
    <button>
      <%= link_to ' New Post ', new_user_post_path(@user) %>
    </button>
  </div>
</div>