<section class="container">
    <% if notice %>
        <p class="notice"><%= notice %></p>
    <% end %>
    
    <%= render partial: "partials/user", locals: { user: @user}%>
        
    <div class="user-bio">
        <h3 class="bio">Biography</h3> 
        <p><%= @user.bio %></p>
    </div>

    <%= render partial: "partials/recent_post" %>
</section>
