<section class="container">
    <% if notice %>
        <p class="notice"><%= notice %></p>
    <% end %>
    
    <%= render partial: "partials/user", locals: { user: @user}%>
     
    <% unless @user.bio.nil? %>
        <div class="user-bio">
            <h3 class="bio">Biography</h3> 
            <p><%= @user.bio %></p>
        </div>
    <% end %>

    <%= render partial: "partials/recent_post" %>
</section>
