<section class="container">

    <%= render partial: "partials/user", locals: { user: @user}%>

    <div class="user-bio">
        <h3 class="bio">Biography</h3> 
        <p><%= @user.bio %></p>
    </div>

    <%= render partial: "partials/all_posts" %>
</section>