* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  width: 90vw;
  min-height: 100vh;
  margin: auto;
}

.wrapper,
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 60px;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  box-shadow: 3px 2px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 30vw;
}

form input,
form textarea {
  width: 25vw;
  padding: 0.5rem;
  border: 1px solid black;
}

form textarea {
  height: 10vh;
}

.form-elements {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

/* style user profile info */
.user {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.user-photo img {
  height: 80px;
  width: 120px;
  border: 2px solid black;
}

.user-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  border: 2px solid black;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  align-self: flex-start;
}

.user-posts {
  justify-content: flex-end;
  align-self: flex-end;
  padding: 2rem 1rem 1rem 1rem;
  font-size: small;
}

a {
  text-decoration: none;
}

.user-bio {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid black;
}

.user-bio h3 {
  font-weight: bold;
  text-decoration: underline;
}

/* style the user's posts, comments and likes */
.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}

.post h3 {
  font-weight: bold;
  padding: 0.5rem 1rem;
  align-items: flex-start;
}

.post p {
  padding: 0.5rem 1rem;
}

.count {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: medium;
  gap: 1rem;
}

.count span {
  padding: 0 0.25rem;
}

.count button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.count form {
  width: 5vw;
}

.post-comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.post-comments h4 {
  font-weight: bold;
  font-size: large;
  margin: 0.5rem 0;
}

.btn-link {
  align-self: center;
}

.btn-link button,
.btn-link input[type="submit"] {
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
  border-bottom: 5px solid black;
  border-right: 3px solid black;
  border-radius: 5px;
}

.grp-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.thumb {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: x-large;
  border: none;
}

.btn-delete button {
  border: none;
  box-shadow: 1px 2px 1px 3px rgba(0, 0, 0, 0.2);
}

.short-button {
  width: 5vw;
  align-items: flex-end;
  margin-left: 2rem;
  padding: 0.15rem 0.25rem;
  box-shadow: 1px 2px 1px 3px rgba(58, 2, 2, 0.2);
  border: #10055e 1px solid;
  border-radius: 10px;
  color: #0b0b0b;
  cursor: pointer;
}

/* style the authentification pages */
.auth_pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: black;
  font-size: medium;
  width: 40vw;
  margin: 50px auto;
  padding: 1rem;
  background-color: #f5f5f5;
  border: 1px solid #a7a3a3;
  box-shadow: 2px 3px 2px 3px rgba(0, 0, 0, 0.2);
}

.shared {
  display: flex;
  flex-direction: column-reverse;
  gap: 0;
  width: 30vw;
  padding-bottom: 0.5rem;
}

.shared a {
  color: black !important;
}

.actions {
  border: 1px solid #1e1d1d;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #1e1d1d;
}

.actions input {
  cursor: pointer;
  font-size: 16.5px;
}

.remember_me {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
}

.remember_me input {
  width: 1rem;
  height: 1rem;
}

.auth_links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 30vw;
  margin: auto auto;
}

.sign_in_up {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.auth_links #confirmation {
  color: #a10505;
  padding: 0.5rem;
  box-shadow: #890505 1px 1px 1px 1px;
}

.cancel_back {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
}

.cancel_account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.cancel_back a {
  color: rgb(104, 4, 235);
  font-weight: bold;
}

.cancel_account .button_to {
  width: 20vw;
}

.auth_links a {
  color: #0b0b0b;
  padding: 0.5rem;
  box-shadow: #1e1d1d 1px 1px 1px 1px;
}

.button_to button,
.button_to button a {
  cursor: pointer;
  padding: 5px;
  font-size: 15px;
  color: blue;
  border: none;
}

.auth_links a:hover {
  color: #2d06d9;
  font-weight: bold;
  box-shadow: #62b3e9 1px 1px 1px 1px;
}

/* notification and error message */
.notice {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #f5f5f5;
  color: green;
  font-size: large;
}

#error_explanation {
  color: red;
}

#error_explanation h2 {
  font-size: medium;
  font-weight: bold;
}

#error_explanation ul {
  list-style: square;
  padding: 0.5rem 1.5rem;
  font-size: 15px;
}

/* style the modal */
.modal {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 40%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  transform: translate(-50%, -50%);
  background-color: #dde4e71a;
  border-radius: 5px;
  box-shadow: 1px 2px 3px 2px rgba(13, 13, 13, 0.5);
}

.modal .btn-link input[type="submit"],
.modal .btn-link a {
  width: auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  align-items: center;
}

.modal .grp-buttons {
  align-self: center;
}

/* style header and foooter */
.header {
  width: 91%;
  height: 75px;
  background-color: #62b3e9;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 2px 3px 5px #62b3e9;
  border-radius: 10px;
}

.header img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
}

.footer {
  width: 91%;
  height: 35px;
  background-color: #c1cad0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 2px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
